.table {
  width: 100%;
  text-align: center;
  font-family: 'Roboto';
  line-height: 18px;
  border-collapse: collapse;
  border-top: 1px solid #BBBBBB;
  margin: 0 auto;
  table-layout: fixed;
}
.tableHead th {
  font-weight: 700;
}
.tableBody td {
  font-weight: 400;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tableString {
  border-bottom: 1px solid #BBBBBB;
  height: 50px;
}
.tableNumber {
  text-decoration: underline;
  color: #2196F3;
}
td {
  padding: 0 20px;
}