.header {
  display: flex;
  justify-content: end;
  padding: 14px 18px;
  align-items: center;
  column-gap: 23px;
}
.pagination {
  margin: 0;
  color: #6B7280;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 15px;
}
.back {
  cursor: pointer;
}
.next {
  cursor: pointer;
}